body{
  background-image:url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg ");
    background-repeat:no-repeat;
    background-position:50% 0;
    background-size:1539px 939px;
    border:hidden;
    padding:0px;
  margin:20px 20px 20px 20px;
}

header{
  text-align:center;
  margin:50px 0px 100px 0px;



}
h1{
  text-transform:uppercase;
  margin:0px 0px 50px 0px;
}
nav a{
  text-decoration:none;
  border:hidden;
  padding:4px 2px 4px 2px;
  margin:0px 150px 0px 150px;
  border-radius:4px;
}
nav a:link{
  background-color:rgba(255,255,255,.3);
}
nav a:visited{
  background-color:#8c8c8c;
}
nav a:hover{
  background-color:rgba(255,255,255,1);
}
nav a:active{
  background-color:rgba(255,255,255,1);
}
nav a:focus{
  background-color:rgba(255,255,255,1);
}
main{
  float:left;

}
aside{
  background-color:rgb(0,255,0);
  width:25%;
  float:left;
}
aside img{
  width:200px;
  height:150px;
  border:solid white;
  display:block;
  margin:10px 70px 10px 80px;

}
.right{
  background-color:white;
  width:75%;
  height:505px;
}
.left+.right{
  display:inline-block;
}
